#body
  .line.top
    - img = @images.top
    = img.tag(:medium)
  .line.top-3
    %ul
      - @images.top(1..3).each do |img|
        %li= img.tag(:medium)
  .line.top-12
    %ul
      - @images.top(3..11).each do |img|
        %li= img.tag(:medium)
  .line.top-rest
    #thumb-content
      - thumblinks.each do |desc, link|
        %div{:style => "display:block"}
    %ul#thumb-tabs
      - thumblinks.each do |desc, link|
        %li
          %a.awesome.small.silver{:href => link}= desc
