!clr_dark = #2f2933
!clr_light1 = #01a2a6
!clr_light2 = #29d9c2
!clr_lighter1 = #bdf271
!clr_lighter2 = #ffffa6

html
  :height 100%

body
  :margin 0px
  :color #222
  :height 100%
  :font-family tahoma, 'Times New Roman', Georgia, serif

#wrap
  :min-height 100%
  :height auto !important
  :height 100%
  :margin 0 auto -80px

#idb-wrap

#head
  :margin-left 0
  :background-color = !clr_dark
  :margin-right 0
  :padding 30px
  :padding-top 10px
  :padding-left 0px
  :box-shadow 10px 10px 20px #aaaaaa


#footer
  :height 80px
  :background-color = !clr_dark  
  .content
    :background-color #120509
    :height 50px
    :position relative
    p
      :padding-left 10%
      :padding-right 10%
      :padding-top 20px
      :color #000

.push
  :height 50px
  :clear both
  :padding-bottom 30px
